
<body class = "body">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d5f4e6;">
  <a class="navbar-brand" href="/">NeMo Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>
      
      <ul class="nav navbar-nav navbar-center" >
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:17px;font-family:verdana;color:black;" >Page Menu<span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu" style="min-width: 8rem; padding: 14px 16px;" >
            <li><a href="/" style = "color:black;">Home Page</a>
            </li>
            <li><a href="/new_case" style = "color:black;">New Case</a>
            </li>
            <li><a href="/update_input" style = "color:black;">Upload File</a></li>
            <li><a href="/run_nemo/" style = "color:black;">Run NeMo</a></li>
            <li><a href="/delete" style = "color:black;">Delete Case</a></li>
            <li><a href="/update_dev" style = "color:black;">DEV Update</a></li>

            
          </ul>
        </li>
      </ul>
      
   
    <!--
      <form id="f1" name="f1" action="javascript:void()" onsubmit="if(this.t1.value!=null &amp;&amp; this.t1.value!='')
      parent.findString(this.t1.value);return false;">
      <input type="text" id="t1" name="t1" value="" size="20">
      <input type="submit" name="b1" value="Find">
      </form>
    -->



    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>
<script src = "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src = "/static/bootstrap.min.js"></script>

