{% extends 'layout.html' %}

{% block body %} 

   <body>
   <div id="loading"></div>
   <div id="content">  
    
      <h4>Delete</h4>
      <br>
      {% from "includes/_formhelpers.html" import render_field %}
      <form method=post action="/delete">
        {{ form.csrf_token }}
        <dl>
        {{ render_field(form.delcase) }}
        </dl>
        <p><input type=submit onclick="confirm('Do you want to DELETE this CASE?') && loading();" value=Delete>
        </form>


<br><br><br>
   <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">

    <a href="/" class="btn btn-neutral float-right" accesskey="n" rel="next" style="text-decoration: none; color: #000000;background-color: white;border: 2px solid black;font-size:85%;">Home <span class="fa fa-arrow-circle-right"></span></a>
    <a href="/run_nemo" class="btn btn-neutral" accesskey="p" rel="prev" style="text-decoration: none; color: #000000;background-color: white;border: 2px solid black;font-size:85%;">RunNeMo<span class="fa fa-arrow-circle-left"></span> </a>




{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>

    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
    </script>

